<a routerLink="/" class="fixed top-4 left-4 bg-[#E29578] text-white py-2 px-4 rounded-lg hover:bg-[#D17A61] transition z-50">
  Volver a inicio
</a>

<a routerLink="/" class="fixed top-16 left-4 bg-[#E29578] text-white py-2 px-4 rounded-lg hover:bg-[#D17A61] transition z-50">
  Cerrar Sesión
</a>

<div class="min-h-screen bg-[#EDF6F9] p-8 lg:px-70">
  <div class="max-w-6x1 mx-auto">
  <h1 class="text-4xl font-bold text-center text-[#006D77] mb-8">Panel de Administración</h1>
  <!-- Categorias -->
  <div class="mb-12">
  <h2 class="text-3xl font-semibold text-center text-[#E29578] mb-4">Categorías</h2>
  <table class="bg-white w-full overflow-hidden text-left rounded-lg shadow-lg mb-4">
    <thead class="bg-[#83C5BE] text-white">
      <tr>
        <th class="p-2">Nombre</th>
        <th class="p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td class="p-2 align-middle min-h-[48px]">{{ categoria.nombre }}</td>
        <td class="p-2 align-middle min-h-[48px]">
          <button (click)="abrirPopupEditar(categoria)"
            class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 mr-5">
              Editar
          </button>
          <button (click)="eliminarCategoria(categoria.id)"
            class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600 mr-5">
              Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
<div *ngIf="categoriaEditando" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg p-6 w-80 shadow-lg">
    <h3 class="text-xl font-semibold mb-4 text-[#006D77]">Editar Categoría</h3>
    <input [(ngModel)]="categoriaEditando.nombre" type="text" class="border p-2 rounded w-full mb-4" placeholder="Nombre de la categoría"/>
    <div class="flex justify-end gap-2">
      <button (click)="guardarEdicion()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">
        Guardar
      </button>
      <button (click)="cancelarEdicion()" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500">
        Cancelar
      </button>
    </div>
  </div>
</div>
  <div class="flex gap-4 mb-2">
  <input [(ngModel)]="nuevaCategoria.nombre" placeholder="Nombre de la categoría" class="border p-2 rounded w-full"/>
  <button (click)="agregarCategoria()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">
    Añadir
  </button>
</div>
  <div *ngIf="errorProducto" class="text-red-600 text-sm mb-4">
    Rellene el nombre de la categoría correctamente
  </div>
</div>

<!-- Supermercados --> 
  <div class="mb-12">
  <h2 class="text-3xl font-semibold text-center text-[#E29578] mb-4">Supermercados</h2>
  <table class="bg-white w-full overflow-hidden text-left rounded-lg shadow-lg mb-4">
    <thead class="bg-[#83C5BE] text-white">
      <tr>
        <th class="p-2">Nombre</th>
        <th class="p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supermercado of supermercados">
        <td class="p-4 align-middle min-h-[48px]">{{ supermercado.nombre }}</td>
        <td class="p-2 align-middle min-h-[48px]">
          <button (click)="abrirPopupEditarSupermercado(supermercado)" class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 mr-5">
            Editar
          </button>
          <button (click)="eliminarSupermercado(supermercado.id)" class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="supermercadoEditando" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white rounded-lg p-6 w-80 shadow-lg">
      <h3 class="text-xl font-semibold mb-4 text-[#006D77]">Editar Supermercado</h3>
      <input [(ngModel)]="supermercadoEditando.nombre" type="text" class="border p-2 rounded w-full mb-4" placeholder="Nombre del supermercado"/>
      <div class="flex justify-end gap-2">
        <button (click)="guardarEdicionSupermercado()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">
          Guardar
        </button>
        <button (click)="cancelarEdicionSupermercado()" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  <div class="flex gap-4 mb-2">
    <input [(ngModel)]="nuevoSupermercado.nombre" placeholder="Nombre del supermercado" class="border p-2 rounded w-full"/>
    <button (click)="agregarSupermercado()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">
      Añadir
    </button>
  </div>
  <div *ngIf="errorSupermercado" class="text-red-600 text-sm mb-4">
    Rellene el campo del supermercado correctamente
  </div>
</div>

<!-- Productos -->
<div class="mb-12">
  <h2 class="text-3xl font-semibold text-center text-[#E29578] mb-4">Productos</h2>
  <table class="bg-white w-full overflow-hidden text-left rounded-lg shadow-lg mb-4">
    <thead class="bg-[#83C5BE] text-white">
      <tr>
        <th class="p-2">Nombre</th>
        <th class="p-2">Marca</th>
        <th class="p-2">Categoria</th>
        <th class="p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td class="p-4 align-middle min-h-[48px]">{{ producto.nombre }}</td>
        <td class="p-2 align-middle min-h-[48px]">{{ producto.marca}}</td>
        <td class="p-2 align-middle min-h-[48px]">{{ getNombreCategoria(producto.categoria_id) }}</td>
        <td class="p-2 align-middle min-h-[48px]">
          <button (click)="abrirPopupEditarProducto(producto)" class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 mr-5">
            Editar
          </button>
          <button (click)="eliminarProducto(producto.id)" class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="productoEditando" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white rounded-lg p-6 w-80 shadow-lg">
      <h3 class="text-xl font-semibold mb-4 text-[#006D77]">Editar Producto</h3>
      <input [(ngModel)]="productoEditando.nombre" type="text" class="border p-2 rounded w-full mb-2" placeholder="Nombre del producto"/>
      <input [(ngModel)]="productoEditando.marca" type="text" class="border p-2 rounded w-full mb-4" placeholder="Marca"/>
      <select [(ngModel)]="productoEditando.categoria_id" class="border p-2 rounded w-full mb-4">
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </option>
      </select>
      <div class="flex justify-end gap-2">
        <button (click)="guardarEdicionProducto()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">
          Guardar
        </button>
        <button (click)="cancelarEdicionProducto()" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  <div class="flex gap-4 mb-2">
    <input [(ngModel)]="nuevoProducto.nombre" placeholder="Nombre" class="border p-2 rounded w-full"/>
    <input [(ngModel)]="nuevoProducto.marca" type="text" placeholder="Marca" class="border p-2 rounded w-full"/>
    <select [(ngModel)]="nuevoProducto.categoria_id" class="border p-2 rounded w-full">
    <option [value]="null" disabled selected>Selecciona una categoría</option>
    <option *ngFor="let categoria of categorias" [value]="categoria.id">
      {{ categoria.nombre }}
    </option>
  </select>
    <button (click)="agregarProducto()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">
      Añadir
    </button>
  </div>
  <div *ngIf="errorProducto" class="text-red-600 text-sm mb-4">
      Rellene todos los campos del producto
  </div>
</div>

<!-- Precios -->
<div class="mb-12">
  <h2 class="text-3xl font-semibold text-center text-[#E29578] mb-4">Precios</h2>
  <table class="bg-white w-full overflow-hidden text-left rounded-lg shadow-lg mb-4">
  <thead class="bg-[#83C5BE] text-white">
    <tr>
      <th class="p-2">Producto</th>
      <th class="p-2">Supermercado</th>
      <th class="p-2">Categoría</th>
      <th class="p-2">Precio</th>
      <th class="p-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productosConPrecio">
      <td class="p-4">{{ item.producto_nombre }}</td>
      <td class="p-4">{{ item.supermercado_nombre }}</td>
      <td class="p-4">{{ item.categoria }}</td>
      <td class="p-4">{{ item.precio | currency:'EUR' }}</td>
      <td class="p-2">
        <button (click)="abrirPopupEditarPrecio(item)" class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 mr-5">
          Editar
        </button>
        <button (click)="eliminarProductoConPrecio(item.id)" class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

  <!-- Pop-up edición precio -->
  <div *ngIf="productoPrecioEditando" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white rounded-lg p-6 w-80 shadow-lg">
      <h3 class="text-xl font-semibold mb-4 text-[#006D77]">Editar Precio</h3>
      <input [value]="productoPrecioEditando.producto_nombre" class="border p-2 rounded w-full mb-2 bg-gray-100" readonly/>
      <input [(ngModel)]="productoPrecioEditando.precio" type="number" step="0.01" min="0" class="border p-2 rounded w-full mb-4" placeholder="Precio (€)"/>
      <div class="flex justify-end gap-2">
        <button (click)="guardarEdicionPrecio()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">Guardar</button>
        <button (click)="cancelarEdicionPrecio()" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500">Cancelar</button>
      </div>
    </div>
  </div>

<!-- Nuevo input con select para producto y supermercado -->
<div class="flex gap-4 mb-2">
  <select [(ngModel)]="nuevoPrecioProducto.producto_id" class="border p-2 rounded w-full">
    <option [value]="null">Seleccione un producto</option>
    <option *ngFor="let p of productos" [value]="p.id">{{ p.nombre }}</option>
  </select>

  <select [(ngModel)]="nuevoPrecioProducto.supermercado_id" class="border p-2 rounded w-full">
    <option [value]="null">Seleccione un supermercado</option>
    <option *ngFor="let s of supermercados" [value]="s.id">{{ s.nombre }}</option>
  </select>

  <input [(ngModel)]="nuevoPrecioProducto.precio" type="number" step="0.01" min="0" placeholder="Precio" class="border p-2 rounded w-full" />
  <button (click)="agregarProductoConPrecio()" class="bg-[#006D77] text-white px-4 py-2 rounded hover:bg-[#005A64]">Añadir</button>
</div>
  

</div>
</div>